<h1>Editing student</h1>

<%= form_for(:student, :url => group_student_path(@group, @student), :html => {:method => :put}) do |f| %>
    <%= render :partial => 'form', :locals => {:f => f} %>
<% end %>
<%= link_to 'Show', group_student_path(@group) %> |
<%= link_to 'Back', group_students_path(@group) %>
