<div id="left_column">
</div>

<div id="right_column">
  <h1>New Member</h1>
  <div class="left">
    <div>
        <%= form_for(:student, :url => group_students_path(@group), :html => {:method => :post}) do |f| %>
        <%= render :partial => 'form', :locals => {:f => f} %>
    </div>
    <% end %>
  </div>
</div>