body.two-col{
	font-size: 14px;
	font-family: palatino;
	line-height: 1.7em;
}
h1{ font-size: 3em; font-weight: bold; color: $headline-gray; margin-bottom: 14px; }
h2{ font-size: 1.75em; font-weight: bold; color: $headline-gray; margin-bottom: 14px;  }
h3{ font-size: 1.5em; font-weight: bold; color: $headline-gray; }