/* --------------------------------------------------------------

   application.css
   * Default CSS file for site.

-------------------------------------------------------------- */

body {
  background: #E3E3E3;
  font-size: 20px;
  font-family: 'Josefin Sans';
  font-weight: bold;
  color: #333;
}

h1 { font-family: 'Josefin Sans', arial, serif; font-size: 2em;}
h2 { font-family: 'Josefin Sans', arial, serif; font-size: 1.75em;  }
h3 { font-family: 'Josefin Sans', arial, serif; font-size: 1.25em; }
h4 { font-family: 'Josefin Sans', arial, serif; font-size: 1.15em; }

a { color: #3a8bd6; text-decoration: none; }
a:hover { color: #3a8bd6; text-decoration: underline; }
a:visited { color: #3a8bd6; }
a:active { color: #3a8bd6; }

a.button {
	background-color: #3a8bd6;
	border-radius: 7px;
	color: white;
	font-size: 15px;
	padding: 8px 13px 10px 13px;
	background: -moz-linear-gradient(center bottom, #1969b3 0%, #3a8bd6 100%);
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #1969b3), color-stop(1, #3a8bd6));
	text-shadow: 0px -1px 0px #132943;
	border: 1px solid #5F5F5F;
	text-decoration: none;
	cursor: pointer;
}
a.button:hover {
	background: -moz-linear-gradient(center bottom, #1969b3 0%, #6bb0f0 100%);
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #1969b3), color-stop(1, #6bb0f0));
}
a.button:active {
	background: -moz-linear-gradient(center bottom, #3a8bd6 0%, #1969b3 100%);
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #3a8bd6), color-stop(1, #1969b3));
}
a.white { color: white; }

.lucky { font-family: 'Luckiest Guy', arial, serif; }
.oswald { font-family: 'Oswald', arial, serif; }
.bold{ font-weight: bold; }
.white { color: white; }

table { width: 100%; }
table.padded { margin-left: 10px; }
td.top{ vertical-align: top; }

#logo {
  line-height: 37px;
letter-spacing: 1.5px;
text-align: center;      
}

#logo_text {
  position: relative;
  top: 25px;
}

#logo #top {
  font-size: 41px;
}

#logo #bottom {
  font-size: 50px;
}
#logo_text a{
	text-decoration: none;
}
#container {
  width: 940px;
overflow: auto;
  margin: 0px auto 0px auto;
padding: 15px 10px;
}
#logo {
	width: 220px;
	height: 75px;
	margin: 0 10px 10px 0;
	background-color: #5A5A5A;
	float: left;
}
#nav {
  width: 700px;
  height: 75px; /*should be 75*/
  background-color: #FFF;
  margin: 0 0 10px 10px;
  float: left;
}
#main_menu{
    padding: 0px;
    margin: 0px;
}
#main_menu li{
    list-style: none;
    float: left;
    margin-right: 1.3em;
    font-size: 22px;
    font-weight: bold;
    line-height: 80px;
}
#main_menu li a:hover {
    text-decoration: underline;
}
#main_menu li a{
	text-decoration: none;
    color: #5A5A5A;
	text-transform: uppercase;
}
#main_menu li:first-child{
    margin-left: 1.3em;
}
#main_menu li:last-child{
    float: right;
}
#main_menu li:last-child a{
    background-color: #5A5A5A;
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
    padding: 9px 6px 2px 8px;
    color: #fff;
    text-decoration: none;
	text-transform: capitalize;
}
#main_menu li:last-child a:hover{
    background-color: #5A5A5A;
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
    padding: 9px 6px 2px 8px;
    color: #fff;
    text-decoration: none;
	text-transform: capitalize;
	text-decoration: underline;
}
#account_menu li{
    list-style: none;
    float: right;
	clear: left;
	margin: -35px 5px 15px 10px;
    font-size: 18px;
    font-weight: bold;
}
#account_menu a:hover {
    text-decoration: underline;
}
#account_menu li a{
	text-decoration: none;
    color: #5A5A5A;
	text-transform: lowercase;
}
#sign_in{
	margin-top: 0px;
	margin-right: 0px !important;
}
#sign_out{
    margin: -10px 0px 0px 0px !important;
}
#main {
  margin: 10px 10px 0px 0px;
  background-color: #fff;
  float: left;
  width: 940px;
  min-height: 610px;
}
.header{
  width: 920px;
  height: 90px;
}
#main .header{
  background-color: #FAA644;
  padding: 10px;
}
#sidebar .header{
  background-color: #19A391
}
#group_tabs li{
	list-style: none;
	height: 15px;
	text-align: center;
	background-color: #E3E3E3;
	position: relative;
	padding: 6px 6px 2px 6px;
	text-decoration: none;
    color: #000;
	text-transform: uppercase;
	line-height: 14px;
	float: left;
	margin: 0px 0px 0px 15px;
	bottom: -7px;
	font-weight: bold;
}
#group_tabs > .active_tab{
	background-color: #fff;
}
#group_tabs li:last-child{
	float: right;
	margin: 0px 15px 0px 0px;
	font-weight: bold;
	line-height: 11px;
	font-size: 1.4em;
}
#sidebar {
  margin: 10px 0px 0px 10px;
  background-color: #fff;
  float: left;
  width: 310px;
  min-height: 610px;
}
.title_text{
    color: #fff;
	position: relative;
	top: -1px;
	left: 10px;
}
.content{
	padding: 20px;
	position: relative;
}
#content_title{
	text-transform: uppercase;
}
#content_subtitle{
	clear: both;
	font-size: 16px;
	top: -20px;
	margin-bottom: 30px;
}
.content_left{
	position: relative;
	float: left;
}
.content_right{
	position: relative;
	float: right;
}
#content_subtitle > .content_left, #content_subtitle > .content_right{
	top: -12px;
}
#users_table{
	clear: both;
}
#left_column{
  width: 520px;
  float: left;
}
#right_column{
  border-left: solid 1px #ddd;
  padding-left: 20px;
  padding-bottom: 20px;
  margin-bottom: 30px; 
  width: 350px;
  float: right;
}