/* --------------------------------------------------------------

   application.css
   * Default CSS file for site.

-------------------------------------------------------------- */

body {
  background: #E3E3E3;
  font-size: 20px;
  font-family: 'Josefin Sans';
  font-weight: bold;
  color: #333;
}

h1 { font-family: 'Josefin Sans', arial, serif; font-size: 2em;}
h2 { font-family: 'Josefin Sans', arial, serif; font-size: 1.75em;  }
h3 { font-family: 'Josefin Sans', arial, serif; font-size: 1.25em; }
h4 { font-family: 'Josefin Sans', arial, serif; font-size: 1.15em; }
h5 { font-family: 'Josefin Sans', arial, serif; font-size: .9em; }

a { color: #3a8bd6; text-decoration: none; }
a:hover { color: #3a8bd6; text-decoration: underline; }
a:visited { color: #3a8bd6; }
a:active { color: #3a8bd6; }

a.button, input.button, button {
	background-color: #2ea390;
	border-radius: 3px;
	color: white;
	font-size: 15px;
	padding: 6px 13px 7px 13px;
	border: 2px solid #2ea390;
	text-decoration: none;
	cursor: pointer;
	font-family: Oswald, arial, serif;
	font-size: 15px;
	font-weight: normal;
}
a.button:hover, input:hover.button {
	background-color: white;
	color: #2ea390;
}
a.button.secondary, input.button.secondary {
	background-color: #c4c4c4;
	color: white;
	border: 2px solid #c4c4c4;
}
a.button.secondary:hover, input:hover.button.secondary {
	background-color: white;
	color: #c4c4c4;
}
a.button.minor, input.button.minor {
	font-size: 12px;
	padding: 4px 13px 5px 13px;
}
a.button.minor.margin_top, input.button.minor.margin_top {
	margin-top: 15px;
}
textarea {
	resize: none;
	border: 1px solid #aaaaaa;
	font-size:1.1em;
	padding: 7px;
	width: 335px;
	height: 2.5em;
	display: block;
	background-color: #fff;
	margin-bottom: 20px;
	background-origin: padding-box;
}

a.white { color: white; }

.lucky { font-family: 'Luckiest Guy', arial, serif; }
.oswald { font-family: 'Oswald', arial, serif; }
.bold{ font-weight: bold; }
.white { color: white; }

table { width: 100%; }
table.padded { margin-left: 10px; }
td.top{ vertical-align: top; }
input[type="password"], input[type="email"], input[type="text"]{
	font-size: 1.1em;
	padding: 7px;
	margin-bottom: 20px;
}
input.last { margin-bottom: 5px; }
label { color: dimGray; }
input.first{ margin-top: 30px; }
input.membership_field { width: 315px;}
input.ajax_edit{
	font-family: 'Josefin Sans', arial, serif;
	font-weight: bold;
	background-color: #FFFFD3;
	border: 1px solid #CCC;
	width: 80%;
}
input.ajax_edit.title{
	font-size: 25px;
	margin-bottom: 5px;
	padding: 4px;
}
input.ajax_edit.description{
	font-size: 0.8em;
	margin-bottom: 5px;
	padding: 4px;
}
input.ajax_edit.student{
	font-size: 1em;
	margin-bottom: 5px;
	padding: 6px 0px 0px 2px;
}
input.ajax_edit.number{
	font-size: 1em;
	margin-bottom: 2px;
	font-weight: normal;
	padding: 6px 0px 0px 2px;
}
span:hover.text_highlight {
	cursor: text;
	background-color: #FFFFD3;
}
.formwrap {
	border: 8px solid #d3d3d3;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	display: block;
	background-color: #d3d3d3;
}
#message_content {
	resize: none;
	border: 1px solid #aaaaaa;
	font-size:1.1em;
	padding: 7px;
	width: 488px;
	height: 6em;
	display: block;
	background-color: #fff;
}
#bar {
	background-color:#3a8bd6;
	width:0px;
	height:16px;
}
#barbox {
	float:right; 
	height:16px; 
	background-color:#fff; 
	width:100px; 
	border:solid 1px #silver; 
	margin-right:0px;
	margin-top: 3px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
}
#count {
	float: right;
	color: #fff;
	margin-right: 3px;
}
#character_count {
	overflow: hidden;
	margin-top: 9px;
	height: 25px;
}
#message_send_options { margin-top: 2px }
#send_message_now {
	width: 222px;
	height: 61px;
	margin-top: 8px
}
#send_message_scheduled { width: 290px }
#student_list {
	list-style: none;
	padding: 10px 0px 5px 15px;
}
#student_list li:odd{
	background-color: red;
}
#student_name {
	margin-bottom: -10px;
	font-weight: bold;
	padding-top: 5px;
}
#student_number {
	margin-top: 0px;
	font-weight: normal;
}
#remove_member {
	font-size: .8em;
}
.flash {
	margin: 10px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	text-align: center;
	margin: 0 auto 15px;
	color: white;
	font-size: 18px;
	padding: 5px;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(0, 0, 0, 0.1);	
}
#alert {
	border: 1px solid #993624;
	background: #CC4831 url("images/messages/error.png") no-repeat 10px center;
}
#notice {
	border: 1px solid #8A9DAA;
	background: #B8D1E2 url("images/messages/notice.png") no-repeat 10px center;
	color: #28485E;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
}
.gray_outline { border-bottom: 2px dashed #d3d3d3; margin-bottom: 10px;}
#error_explanation {
	width: 95%;
	padding: 7px;
	padding-bottom: 0;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
	margin-bottom: 20px;
	background-color: #f0f0f0;
}
#error_explanation h2 {
	text-align: left;
	font-weight: bold;
	padding: 5px 5px 5px 15px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	font-size: 14px;
	margin: -7px;
	margin-bottom: 0px;
	background-color: #c00;
	color: #fff;
}
#error_explanation ul li {
	font-size: 12px;
	list-style: none;
	padding: 4px;
}
#logo {
	line-height: 47px;
	letter-spacing: 1.5px;
	text-align: center;      
}

#logo_text {
	position: relative;
	top: 7px;
	color: white;
	text-shadow: 1px 1px 3px #3d3d3d;
	font-size: 2em;
	text-decoration: none;
}

#logo #top {
  font-size: 41px;
}

#logo #bottom {
  font-size: 50px;
}
#logo_text div:hover;{
	text-decoration: none;
}
#container {
	width: 940px;
	overflow: auto;
	margin: 0px auto 0px auto;
	padding: 0px 10px 5px 10px;
}
#logo {
	width: 166px;
	height: 50px;
	margin: 0 0px 10px 0;
	padding-left: 34px;
	float: left;
	border-bottom: 1px solid gray;
	border-radius: 0px 0px 0px 8px;
	background-image: url('/images/phone.png');
	background-repeat: no-repeat;
	background-position: 12px;
	background-color: #696969;
}
#nav {
	width: 720px;
	height: 50px; /*should be 75*/
	margin: 0 0 10px 0px;
	float: left;
	border-bottom: 1px solid gray;
	padding-right: 20px;
	border-radius: 0px 0px 8px 0px;
}
.top_bar {
	/* fallback */
	  background-color: #696969;
/*
	  /* Firefox 3.6+ */
	  background: -moz-linear-gradient(100% 100% 90deg, #696969, #727272);

	  /* Safari 4-5, Chrome 1-9 */
	  /* -webkit-gradient(<type>, <point> [, <radius>]?, <point> [, <radius>]? [, <stop>]*) */
	  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#696969), to(#727272));

	  /* Safari 5.1+, Chrome 10+ */
	  background: -webkit-linear-gradient(#696969, #727272);*/	
}
#welcome_user {
	font-size: 14px;
	float: right;
	clear: both;
	margin: 2px 0px -26px 0px;
	color: #dddddd;
}
#main_menu{
    padding: 0px;
    margin: 0px;
	clear: both;
}
#main_menu li{
    list-style: none;
    float: right;
    margin-left: 30px;
    font-size: 20px;
    font-weight: bold;
    line-height: 67px;
}
#main_menu li a:hover {
    text-decoration: underline;
}
#main_menu li a{
	text-decoration: none;
    color: white;
	text-transform: uppercase;
}
/*#main_menu li:first-child{
    margin-left: 1.3em;
}
#main_menu li:last-child{
    float: right;
}
#main_menu li:last-child a{
    background-color: #5A5A5A;
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
    padding: 9px 6px 2px 8px;
    color: #fff;
    text-decoration: none;
	text-transform: capitalize;
}
#main_menu li:last-child a:hover{
	text-decoration: underline;
}*/
/*#sign_in{
	margin-top: 0px;
	margin-right: 0px !important;
}
#sign_out{
    margin: 10px 0px 0px 0px !important;
    background-color: #5A5A5A;
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
    padding: 9px 6px 2px 8px;
    color: white;
	line-height: 22px !important;
    text-decoration: none;
	text-transform: capitalize;
	cursor: default;
}*/
/*#account_menu li{
    list-style: none;
    float: right;
	clear: left;
	margin: -35px 5px 15px 10px;
    font-size: 18px;
    font-weight: bold;
}
#account_menu a:hover {
    text-decoration: underline;
}
#account_menu li a{
	text-decoration: none;
    color: #5A5A5A;
	text-transform: lowercase;
}*/
#main {
  margin: 2px 10px 12px 0px;
  background-color: #fff;
  float: left;
  width: 940px;
  min-height: 610px;
	border-radius: 8px 8px 0px 0px;
}
.header{
  width: 920px;
  height: 55px;
}
#main .header{
  background-color: #FAA644;
  padding: 10px;
	border-radius: 8px 8px 0px 0px;
}
#sidebar .header{
  background-color: #19A391
}
#group_tabs li{
	list-style: none;
	height: 15px;
	text-align: center;
	background-color: #E3E3E3;
	position: relative;
	padding: 6px 6px 2px 6px;
	text-decoration: none;
    color: #000;
	text-transform: uppercase;
	line-height: 14px;
	float: left;
	margin: 0px 0px 0px 15px;
	bottom: -7px;
	font-weight: bold;
}
#group_tabs > .active_tab{
	background-color: #fff;
}
#group_tabs li:last-child{
	float: right;
	margin: 0px 15px 0px 0px;
	font-weight: bold;
	line-height: 11px;
	font-size: 1.4em;
}
#sidebar {
  margin: 10px 0px 0px 10px;
  background-color: #fff;
  float: left;
  width: 310px;
  min-height: 610px;
}
.group_list_item {
	list-style: none;
	margin-bottom: 10px;
	clear: both;
	border-top: 5px solid #a8a8a8;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	overflow: auto;
	padding: 5px 10px;
	margin-top: 5px;
	display: block;
}
.group_list_item:hover {
	text-decoration: none;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ffffff'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#dfdfdf), to(#fff)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #dfdfdf,  #fff); /* for firefox 3.6+ */
}
.group_list a {
	text-decoration: none;
}
.group_list a:hover {
	text-decoration: none;
	background-color: black;
}
.groups.primary {
	color: black;
	font-size: 1.4em;
}
.groups.secondary {
	color: dimGray;
	font-size: 1.0em;
}
#group_info {
	width: 60%;
	float: left;
	margin-bottom: 30px;
}
#group_number {
	float: right;
	width: 39%;
	clear: right;
}
#edit_group {
	width: 60%;
	float: left;
	margin-bottom: 30px;
	overflow: auto;
}
.group_members_count {
	color: dimGray;
	float: right;
}
.title_text{
    color: #fff;
	position: relative;
	top: -1px;
	left: 10px;
	text-shadow: 0 1px 0 gray;
}
.noclick {
    cursor: default;
}
#return_to_groups { height: 50px; clear: both; }
.content{
	padding: 15px 20px 20px 20px;
	position: relative;
}
#content_title{
	text-transform: uppercase;
}
#content_subtitle{
	clear: both;
	font-size: 16px;
	top: -20px;
	margin-bottom: 30px;
}
.left{
	position: relative;
	float: left;
	clear: both;
}
.right{
	position: relative;
	float: right;
}
#content_subtitle > .content_left, #content_subtitle > .content_right{
	top: -12px;
}
#users_table{
	clear: both;
}
#left_column{
  width: 520px;
  float: left;
}
#right_column{
  border-left: solid 1px #ddd;
  padding-left: 20px;
  padding-bottom: 20px;
  margin-bottom: 30px; 
  width: 335px;
  float: right;
}
#footer {
	position: relative;
	width: 940px;
	height: 35px;
	margin-left: -470px;
	margin-bottom: 10px;
	left: 50%;
	text-align: center;
	line-height: 35px;
	font-size: 10px;
	background-color: #696969;
	color: #cccccc;
	font-family: 'Helvetica';
	clear: both;
}
#footer a {
	text-decoration: none;
	color: white;
}