<% if @group.students.blank? %>
	<h5>There are no students in this group.</h5><br>
	<%= link_to 'Add Students', edit_memberships_of_group_path, :class => 'button' %>
<% else %>
	<h5>Your message will be sent to the following recipients:</h5>
	<%= link_to 'Edit', edit_memberships_of_group_path, :class => 'button' %>
<% end %>
<% for member in @group.students %>
	<%= member.name %>
	<br />
<% end %>